<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_Bmas.Properties.Settings.CVT_DESAINTConnectionString"
            connectionString="Data Source=alerce;Initial Catalog=CVT_DESAINT;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$;Connect Timeout=3600"
            providerName="System.Data.SqlClient" />
        <add name="DB_Bmas.Properties.Settings.CVT_WMS_SMMConnectionString"
            connectionString="Data Source=alerce;Initial Catalog=CVT_WMS_SMM;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$"
            providerName="System.Data.SqlClient" />
        <add name="DB_Bmas.Properties.Settings.SBO_MMETROConnectionString"
            connectionString="Data Source=alerce;Initial Catalog=SBO_MMETRO;Persist Security Info=True;User ID=sa;Password=cvt.vdp22$"
            providerName="System.Data.SqlClient" />
        <add name="DB_Bmas.Properties.Settings.CVT_WMS_SMMConnectionString1"
            connectionString="Data Source=alerce;Initial Catalog=CVT_WMS_SMM;User ID=sa;Password=cvt.vdp22$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>